@import "../../bower_components/bootstrap/less/bootstrap.less";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700italic);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Eagle+Lake);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC);

@dropbox-blue: #007ee5;

body {
	font-family: 'Open Sans', sans-serif;
	//background-image: url('../img/needle-and-thread.jpg');
	background-color: #FCFFF5;
}

input {
	font-family: 'Lato', sans-serif;
}

.dropbox-blue {
	color: @dropbox-blue;
}
.dropbox-logo {
	content: url('../img/blue-dropbox-glyph.jpg');
}

.logout-button {
	background-color: transparent;
	font-family: 'Eagle Lake', cursive;
	font-size: 1.5em;
	color: @dropbox-blue;
	border: none;

	border-bottom: 4px solid;
	margin-bottom: 3px transparent;

	&:hover {
		font-size: 1.7em;
		border-bottom: 5px solid @dropbox-blue;
		cursor:pointer;
	}
}

.login-button {
	background-color: transparent;
	font-family: 'Eagle Lake', cursive;
	font-size: 2.5em;
	color: @dropbox-blue;
	border: none;

	border-bottom: 4px solid;
	margin-bottom: 3px transparent;

	&:hover {
		font-size: 2.7em;
		border-bottom: 5px solid @dropbox-blue;
		cursor:pointer;
	}
}

.submit-button {
	background-color: transparent;
	font-family: 'Eagle Lake', cursive;
	font-size: 1.5em;
	color: @dropbox-blue;
	border: none;

	border-bottom: 4px solid;
	margin-bottom: 3px transparent;

	&:hover {
		font-size: 1.7em;
		border-bottom: 5px solid @dropbox-blue;
		cursor:pointer;
	}
}

.btn-login {
	height: 40%;
	// font-family: 'Open Sans', sans-serif;
	font-size: 4em;
}

.title-text {
	// font-family: 'Open Sans', sans-serif;
	font-size: 600%;
}

.writing-cursor {
	font-size: 1.2em;
	font-family: 'Open Sans', sans-serif;
	background-color: lighten(@dropbox-blue, 54%);
	border: 0.2px solid @dropbox-blue;
	&:hover {
		cursor:text;
	}
}

.lato {
	font-size: 1.5em;
	font-family: 'Open Sans', sans-serif;
}

.highlight-hover {
	&:hover {
		background-color: red;//lighten(@dropbox-blue, 54%);
	}
}

.link-code {
	
}
.stitch-row {
	cursor: pointer;
}
.stitch-now {
	border: 1px solid transparent;
	border-radius:4px;
	.stitch-link {
		color:black;
	}
	&:hover {
		background-color: lighten(@dropbox-blue, 40%) !important;
		.stitch-link {
			color:@dropbox-blue;
		}
	}
}

// #######
// Logout
// #######
.logout-button {
	cursor:crosshair;
}


// #########
// Animation
// #########
// should refactor with less
.animation {
	-webkit-transition: 1s;
}
.animation.ng-enter {
	opacity:0;
}
.animation.ng-leave {
	opacity:1;
}
.animation.ng-enter.ng-enter-active {
	opacity:1;
}
.animation.ng-leave.ng-leave-active {
	opacity:0;
}
