@import "../../bower_components/bootstrap/less/bootstrap.less";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700italic);
@import url(https://fonts.googleapis.com/css?family=Lato);

@dropbox-blue: #007ee5;

body {
	font-family: 'Open Sans', sans-serif;
	//background-image: url('../img/needle-and-thread.jpg');
	background-color: #FCFFF5;
}

input {
	font-family: 'Lato', sans-serif;
}

.dropbox-blue {
	color: @dropbox-blue;
}
.dropbox-logo {
	content: url('../img/blue-dropbox-glyph.jpg');
}

.btn-login {
	height: 40%;
	// font-family: 'Open Sans', sans-serif;
	font-size: 4em;
}

.title-text {
	// font-family: 'Open Sans', sans-serif;
	font-size: 600%;
}

.stitch-row {
	cursor: pointer;
}
.stitch-now {
	border: 1px solid transparent;
	border-radius:4px;
	.stitch-link {
		color:black;
	}
	&:hover {
		background-color: lighten(@dropbox-blue, 40%) !important;
		.stitch-link {
			color:@dropbox-blue;
		}
	}
}

