.co-sm-1.col-sm-offset-11.text-center
	.nav.navbar.text-center
		.logout-button(ng-click="logout()") logout

.text-center
	h1 Hello {{user.name}}
	h4 <small>{{user.email}}</small>

	h1 {{ accessToken }}

	.col-xs-4.col-xs-offset-4
		form#pre-presentation(role="form", name="new-event", ng-submit="createEvent()")
			input.form-control(type="text", placeholder="Name of Event", ng-model="newEvent.name" required)
			br
			button.submit-button(type="submit") create event
			br
			br
			br
			//- small. click on an event to see its link

	//- .col-xs-6.col-xs-offset-3
	//- 	table.table.table-hover.stitch-row
	//- 		tr.lato(ng-repeat="event in user.events")
	//- 			td {{event.name}}
	//- 			td {{event.date}}
	//- 			td.stitch-now
	//- 				a.stitch-link
	//- 					span.fa.fa-briefcase

	.col-xs-6.col-xs-offset-3
		table.table.table-hover.stitch-row
			tr(ng-repeat="folder in folders")
				td.lato(ng-click="finalizeModal(folder)", style="width:20em;") {{folder.substring(1)}}
				//- td &nbsp;&nbsp;&nbsp;
				td.highlight-hover.text-center
					pre.writing-cursor(style="padding:0 1em;")
						code
						| "localhost:8008/#!/submit{{getId(folder)}}

	
	//- button.btn(ng-click="finalizeModal()") FINALIZE

