h1.text-center.title-text Stitch

h2.dropbox-blue.text-center Organize and Manage Professional Presentations
.row
	.col-xs-10.col-xs-offset-1.text-center
		button.btn.btn-default.btn-login(ng-click="dropboxLogin()") <span class="fa fa-dropbox"></span> Login with Dropbox

.row
	.panel
	| {{ Dropbox.accountInfo() }}