h1.text-center.title-text Stitch

h2.text-center Organize and Manage Professional Presentations
.row
	.col-xs-6.col-xs-offset-3.text-center
		form(role="form", name="newRusheeForm") 
			.form-group
				button.btn.btn-default(ng-click="dropboxLogin()") <span class="fa fa-dropbox"></span> Login with Dropbox