.text-center
	h1 Hello {{user.name}} <br> <small>{{user.email}}</small>
	br
	br 

	h1 {{ accessToken }}

	.col-xs-4.col-xs-offset-4
		form#pre-presentation(role="form", name="new-event")
			input.form-control(type="text", placeholder="Name of Event", ng-model="newEvent.name")
			br
			button.btn.btn-default(ng-click="createEvent()") Create event
			br
			br
			//- small. click on an event to see its link

	.col-xs-6.col-xs-offset-3
		table.table.table-hover.stitch-row
			tr(ng-repeat="event in user.events", class="animation")
				td {{event.name}}
				td {{event.date}}
				td.stitch-now
					a.stitch-link
						span.fa.fa-briefcase


